export OPENAI_API_KEY="sk-xxx"
export ANTHROPIC_API_KEY="sk-xxx"
export GEMINI_API_KEY="sk-xxx"
export OPENAI_API_BASE="https://xxx.com/v1"
export OPENAI_BASE_URL="https://xxx.com/v1"
export ANTHROPIC_API_BASE="https://xxx.com/v1"
export ANTHROPIC_BASE_URL="https://xxx.com/v1"
export GEMINI_API_BASE="https://xxx.com/v1"
export GEMINI_BASE_URL="https://xxx.com/v1" 
export OLLAMA_API_BASE="http://192.168.111.3:11434"
export OLLAMA_BASE_URL="http://192.168.111.3:11434"