repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.12
    hooks:
      # Run the linter.
      - id: ruff-check
        args:
        - --fix
        - --exclude
        - src/openllm_func_call_synthesizer/data_process/generate_train_dataset_lora.ipynb
        - --exclude
        - src/openllm_func_call_synthesizer/data_process/data_process_utils.ipynb
        - --exclude
        - tests/Standard_Test_Local_Model/test_one_data.ipynb
        - --exclude
        - src/openllm_func_call_synthesizer/data_process/generate_train_dataset_lora.py
        - --exclude
        - src/openllm_func_call_synthesizer/data_process/data_process_v2.ipynb

      # Run the formatter.
      - id: ruff-format
        args:
          - --exclude
          - src/openllm_func_call_synthesizer/data_process/data_process_utils.ipynb
          - --exclude
          - tests/Standard_Test_Local_Model/test_one_data.ipynb
          - --exclude
          - src/openllm_func_call_synthesizer/data_process/generate_train_dataset_lora.py

exclude: src/openllm_func_call_synthesizer/data_process/data_process_utils.ipynb
